:root {
  --dark-blue: #1c3643;
  --light-blue: #1d5271;
  --dark-green: #26a645;
  --light-green: #97c940;
  --dark-gray: #353a40;
  --light-gray: #98968f;
  --white: #f2f3f2;
  --black: #000000;
  --border-blue: #1f8bff;
  --border-green: #30a9bc;
  --border-gold: #ffc107;
}
