footer {
  background: linear-gradient(
    90deg,
    var(--dark-blue) 0%,
    var(--light-blue) 100%
  );
  color: var(--white);
  padding: 20px;
  text-align: center;
}

footer a {
  color: var(--white);
  text-decoration: none;
  padding: 0 50px;
}
