header nav {
  background-color: var(--dark-gray);
}

header nav .navbar-brand img {
  width: 60px;
}

header nav li:last-child a {
  color: var(--dark-green);
}

header nav li:last-child a.active {
  color: var(--light-green) !important;
}

main {
  margin-top: 61px;
}

@media (min-width: 576px) {
  header nav .navbar-brand img {
    width: 90px;
  }

  main {
    margin-top: 78px;
  }
}
