:root {
  --dark-blue: #1c3643;
  --light-blue: #1d5271;
  --dark-green: #26a645;
  --light-green: #97c940;
  --dark-gray: #353a40;
  --light-gray: #98968f;
  --white: #f2f3f2;
  --black: #000000;
}

header nav {
  background-color: var(--dark-gray);
}

header nav .navbar-brand img {
  width: 60px;
}

header nav li:last-child a {
  color: var(--dark-green);
}

main {
  margin-top: 61px;
}

main .carousel-item {
  background-color: black;
}

main .carousel-item img {
  opacity: 0.2;
}

main .carousel .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1rem;
  color: var(--white);
  text-align: center;
}

main .carousel .caption .title {
  font-size: 0.85rem;
  font-weight: 700;

  margin-bottom: 10px;
}

main .carousel .caption .text {
  font-size: 0.65rem;
  margin-bottom: 0;
}

main .carousel .caption .btn-success,
main .carousel .caption .btn-outline-light {
  font-size: 0.7rem;
}

main .carousel .caption .btn-success {
  background-color: var(--dark-green);
}
main .carousel .caption .btn-outline-light {
  color: var(--white);
}

main .dates {
  display: flex;
  flex-direction: column;
}

main .dates-text {
  color: var(--white);
  background-color: var(--dark-gray);
}

main .postulate a.dotted-link {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--black);
}

main .postulate button.btn-success {
  background-color: var(--light-green);
}

footer {
  background: linear-gradient(
    90deg,
    var(--dark-blue) 0%,
    var(--light-blue) 100%
  );
  color: var(--white);
  padding: 20px;
  text-align: center;
}

footer a {
  color: var(--white);
  text-decoration: none;
  padding: 0 50px;
}

@media (min-width: 576px) {
  header nav .navbar-brand img {
    width: 90px;
  }

  main {
    margin-top: 78px;
  }

  main .carousel .caption .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

  main .carousel .caption .text {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  main .carousel .caption .btn-success,
  main .carousel .caption .btn-outline-light {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  main .top-section {
    max-height: 100vh;
  }

  main .carousel .caption {
    width: 75%;
    transform: translate(-40%, -40%);
    color: var(--white);
    text-align: right;
  }

  main .carousel .caption .title {
    font-size: 2rem;
    font-weight: 700;
  }

  main .carousel .caption .text {
    font-size: 1.25rem;
  }

  main .carousel .caption .btn-success,
  main .carousel .caption .btn-outline-light {
    font-size: 1rem;
  }

  main .dates {
    display: flex;
    flex-direction: row;
  }

  main .dates-text {
    font-size: 0.7rem;
  }

  main .dates-text,
  main .dates-img {
    width: 50%;
  }
}

@media (min-width: 992px) {
  main .carousel .caption {
    width: 65%;
    transform: translate(-30%, -15%);
  }

  main .carousel .caption .title {
    font-size: 3rem;
  }

  main .carousel .caption .text {
    font-size: 1.3rem;
  }

  main .dates-text {
    font-size: 1rem;
  }
}
